{% extends 'base.html.twig' %}

{% block title %}Perfil{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('/css/header.css') }}" rel="stylesheet" />
    <link href="{{ asset('/css/profile.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('/css/post.css') }}">
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/js/profileEffect.js') }}"></script>
{% endblock %}
{% block body %}
    {% include 'header/index.html.twig' %}
    <section>

        <div class="top-section">
            <div class="profile-cover">
                <div class="profile-img-cover" style="background-image: url({{ asset('userCover/' ~ cover) }})"></div>
                <div class="profile-detail-section">
                    <nav>
                        <li>Timeline</li>
                        <li>Acerca</li>
                        <li>Siguiendo</li>
                        <li></li>
                        <li></li>
                        <li>Fotos</li>
                        <li>Favoritos</li>
                        <li>Config</li>
                    </nav>
                </div>
                <div class="profile-desc">
                    <div class="profile-img" style="background-image: url({{ asset('userProfiles/' ~ picture) }})"></div>
                    <div class="profile-name">
                        <span>{{ name }} {{ lastname }} {{ lastname2 }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-section">
            <div class="profile-content">
                {{ include('post/index.html.twig', {p: post}) }}
            </div>
        </div>
    </section>
    {# {{ app.user.user }} {{ app.user.lastM }} {{ app.user.lastF }} #}
{% endblock %}
