{% extends 'base.html.twig' %}

{% block title %}Perfil{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('/css/header.css') }}" rel="stylesheet" />
    <link href="{{ asset('/css/profile.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
    {% include 'header/index.html.twig' %}
    <section>
        <div class="top-section">
            <div class="profile-cover">
                <div class="profile-desc">
                    <div class="profile-img" style="background-image:url({{ asset('img/default_profile.jpg') }})"></div>
                    <div class="profile-name">
                        {% if name|default(null) %}

                            <span>{{ name}}</span>
                        {% else %}

                            <span>{{ app.user.user }} {{ app.user.lastM }} {{ app.user.lastF }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-section"></div>
    </section>
{% endblock %}
