{% extends 'base.html.twig' %}

{% block title %}Perfil{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('/css/header.css') }}" rel="stylesheet" />
    <link href="{{ asset('/css/profile.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('/js/sweetmodal/min/jquery.sweet-modal.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('/css/post.css') }}">
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/js/profileEffect.js') }}"></script>

    <script src="https://kit.fontawesome.com/8bc8911105.js" crossorigin="anonymous"></script>
    <script src="{{ asset('js/Post.js') }}"></script>
    <script src="{{ asset('/js/sweetmodal/min/jquery.sweet-modal.min.js') }}"></script>
    <script src="{{ asset('js/Profile.js') }}"></script>
    <script type="text/javascript">
        $('#post-register').on("submit",function(event) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{{ path('profile')}}',
                processData: false,
                contentType: false,
                data: new FormData(this),
                dataType: 'json',
                success: function(response) {
                   $(".container-post").first().after(response.message);
                    $.sweetModal({
                        content: 'Publicado con exito.',
                        icon: $.sweetModal.ICON_SUCCESS
                    });
                },
            });
        });
    </script>

    <script>

        function photoSection() {
            $.ajax({
                type: 'POST',
                url: '{{ path('photo', {id : id })}}',
                dataType: 'json',
                success: function(response) {
                    $.sweetModal({
                        title: 'Fotos',
                        content: response.message,
                    });
                },
            });
        }
        function configSection() {
            $.ajax({
                type: 'POST',
                url: '{{ path('config')}}',
                dataType: 'json',
                success: function(response) {
                    $.sweetModal({
                        title: 'Configuraciones',
                        content: response.message,
                    });
                },
            });
        }

    </script>

{% endblock %}
{% block body %}
    {% include 'header/index.html.twig' %}
    <section>
        <div class="top-section">
            <div class="profile-cover">
                {% if app.user.id == id %}
                    <div class="avatar-edit">
                        <input type='file' id="imageUploadCover" data-url="{{ path('coverprofile')}}" accept=".png, .jpg, .jpeg" />
                        <label for="imageUploadCover"></label>
                    </div>
                {% endif %}
                <div  class="profile-img-cover" style="background-image: url({{ asset('userCover/' ~ cover) }})"></div>
                <div class="profile-detail-section">
                    <nav>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li><a style="text-decoration: none;color:#a69eb9;" href="{{ path('profile') }}">Timeline</a></li>
                        <li onclick="photoSection()">Fotos</li>
                        {% if id == app.user.id %}
                        <li onclick="configSection()">Config</li>
                        {% endif %}
                    </nav>
                </div>
                <div class="avatar-upload">
                    {% if app.user.id == id %}
                    <div class="avatar-edit">
                        <input type='file' id="imageUpload" data-url="{{ path('photoprofile')}}" accept=".png, .jpg, .jpeg" />
                        <label for="imageUpload"></label>
                    </div>
                    {% endif %}
                    <div class="avatar-preview">
                        <div id="imagePreview" style="background-image: url({{ asset('userProfiles/' ~ picture) }})">
                        </div>
                    </div>
                    <div class="profile-name">
                        <span>{{ name }} {{ lastname }} {{ lastname2 }}</span>
                    </div>
                </div>


            </div>
        </div>
        <div class="bottom-section">

            {{ include('profile/post.html.twig') }}
        </div>
    </section>
    {# {{ app.user.user }} {{ app.user.lastM }} {{ app.user.lastF }} #}
{% endblock %}
