{% extends 'base.html.twig' %}

{% block title %}Perfil{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('/css/header.css') }}" rel="stylesheet" />
    <link href="{{ asset('/css/profile.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('/js/sweetmodal/min/jquery.sweet-modal.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('/css/post.css') }}">
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/js/profileEffect.js') }}"></script>
    <script src="{{ asset('/js/sweetmodal/min/jquery.sweet-modal.min.js') }}"></script>
    <script type="text/javascript">
        $('#post-register').on("submit",function(event) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{{ path('profile')}}',
                processData: false,
                contentType: false,
                data: new FormData(this),
                dataType: 'json',
                success: function(response) {

                   $(".container-post").first().after(response.message);
                    $.sweetModal({
                        content: 'Publicado con exito.',
                        icon: $.sweetModal.ICON_SUCCESS
                    });
                },
            });
        });
    </script>
    <script>

        function photoSection() {
            $.ajax({
                type: 'POST',
                url: '{{ path('photo')}}',
                dataType: 'json',
                success: function(response) {
                    $.sweetModal({
                        title: 'Fotos',
                        content: response.message,
                    });
                },
            });
        }

        function configSection() {
            $.ajax({
                type: 'POST',
                url: '{{ path('config')}}',
                dataType: 'json',
                success: function(response) {
                    $.sweetModal({
                        title: 'Configuraciones',
                        content: response.message,
                    });
                },
            });
        }

        function followSection() {
            $.ajax({
                type: 'POST',
                url: '{{ path('follow')}}',
                dataType: 'json',
                success: function(response) {
                    $.sweetModal({
                        title: 'Siguiendo',
                        content: response.message,
                    });
                },
            });
        }


    </script>
{% endblock %}
{% block body %}
    {% include 'header/index.html.twig' %}
    <section>
        <div class="top-section">
            <div class="profile-cover">
                <div class="profile-img-cover" style="background-image: url({{ asset('userCover/' ~ cover) }})"></div>
                <div class="profile-detail-section">
                    <nav>
                        <li><a href="{{ path('profile') }}">Timeline</a></li>
                        <li></li>
                        <li onclick="followSection()">Siguiendo</li>
                        <li></li>
                        <li></li>

                        <li onclick="photoSection()">Fotos</li>
                        <li></li>
                        {% if id == app.user.id %}
                        <li onclick="configSection()">Config</li>
                        {% endif %}
                    </nav>
                </div>
                <div class="profile-desc">
                    <div class="profile-img" style="background-image: url({{ asset('userProfiles/' ~ picture) }})"></div>
                    <div class="profile-name">
                        <span>{{ name }} {{ lastname }} {{ lastname2 }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-section">

            {{ include('profile/post.html.twig') }}
        </div>
    </section>
    {# {{ app.user.user }} {{ app.user.lastM }} {{ app.user.lastF }} #}
{% endblock %}
