
{% block header %}
    {% block header_upper %}
        <div class="header-effect"></div>
        <header>
            <div>
                <nav>
                    <ul>
                        <!-- app.request.attributes.get('_route_params') -->
                        <li class="color_white"><a href="{{ path('home') }}">Inicio</a></li>
                        <li class="color_white"><a href="{{ path('profile') }}">Perfil</a></li>
                        <li class="color_white"><img style="position:relative;top:5px" src="{{ asset('img/notification.png') }}" height="20"/></li>
                        <li class="color_white"><img style="position:relative;top:5px" src="{{ asset('img/upload.png') }}" height="20"/></li>
                        <li>
                            <div class="profile-img-header" style="background-image: url({{ asset('userProfiles/' ~ app.user.id ~ '.jpg') }})"></div>
                            <ul>
                                <li><a href="">Opcion 1</a></li>
                                <li><a href="">Opcion 2</a></li>
                                <li><a href="">Opcion 3</a></li>
                                <li><a href="">Opcion 4</a></li>
                                <li><a href="{{ path('logout') }}">Salir</a></li>
                            </ul>
                        </li>
                        <li>
                            <form action="{{ path('search') }}" method="GET">
                                <input class="textSearcher" type="text" name="s" id="" placeholder="Buscar">
                                <input class="btnSearcher" type="submit" value="">
                            </form>
                        </li>

                    </ul>
                </nav>
            </div>
        </header>

    {% endblock %}
{% endblock %}