
{% block header %}
    {% block header_upper %}
        <header>
            <div>
                <nav>
                    <ul>
                        <!-- app.request.attributes.get('_route_params') -->
                        <li class="color_white"><a href="{{ path('home') }}"><i class="fas fa-home"></i></a></li>
                        <li class="color_white"><a><i class="fas fa-search"></i></a></li>
                        <li class="color_white"><a><i class="far fa-bell"></i></a></li>
                       {# <li class="color_white"><a><i class="fas fa-search"></i></a></li>
                        <li class="color_white"><a><i class="far fa-bell"></i></a></li>#}
                        <li>{#<div class="profile-img-header" style="background-image: url({{ asset('userProfiles/' ~ 					app.user.image) }})"></div>#}
                            <i class="fas fa-bars"></i>
                            <ul>
                                <li><a href="{{ path('profile') }}">Mi perfil</a></li>
                                <li><a href="{{ path('group') }}">Grupos</a></li>
                                <li><a href="">Ajustes</a></li>
                                <li><a href="{{ path('logout') }}">Salir</a></li>
                            </ul>
                        </li>
                        {#<li>
                            <form action="{{ path('search') }}" method="GET">
                                <input class="textSearcher" type="text" name="s" id="" placeholder="Buscar">
                                <input class="btnSearcher" type="submit" value="">
                            </form>
                        </li>#}

                    </ul>
                </nav>
            </div>
        </header>

    {% endblock %}
{% endblock %}