{% extends 'base.html.twig' %}

{% block title %}!Ingresa¡{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}
{% block body %}
    <header></header>
    <div class="wrapper">
        <div class="form-container">
            {{ form_start(form) }}
                {{ form_row(form.id, {'full_name':'verify[id]'}) }}
                {{ form_row(form.password, {'full_name':'verify[password]'}) }}
            {{ form_end(form) }}
            <span>¿No tienes cuenta? <a href="{{ path('register') }}">Registrate!</a></span>
        </div>
    </div>
    <footer>
        <div>
            <div class="img-logo facebook"></div>
            <div class="img-logo twitter"></div>
        </div>

    </footer>
{% endblock %}
