{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block stylesheets %}
   <link href="{{ asset('/css/header.css') }}" rel="stylesheet" />
   <link href="{{ asset('/css/home.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('/js/sweetmodal/min/jquery.sweet-modal.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('/css/post.css') }}">
{% endblock %}
{% block javascripts %}
   <script type="text/javascript" src="{{ asset('/js/jquery.js') }}"></script>
    <script src="{{ asset('/js/sweetmodal/min/jquery.sweet-modal.min.js') }}"></script>
    <script src="https://kit.fontawesome.com/8bc8911105.js" crossorigin="anonymous"></script>
    <script src="{{ asset('js/Post.js') }}"></script>
{% endblock %}
{% block body %}
   {% include 'header/index.html.twig' with {'class_header': 'button_color'} %}
   <section>
      <div class="left-section">
          <div class="box"></div>
          <div class="box"></div>
      </div>
      <div class="right-section">
          <div class="index-content">
              {{ include('post/index.html.twig', {p: post}) }}
          </div>
      </div>
   </section>
{% endblock %}
