{% extends 'base.html.twig' %}

{% block title %}Hello SearcherController!{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('/css/header.css') }}" rel="stylesheet" />
    <link href="{{ asset('/css/searcher.css') }}" rel="stylesheet" />
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/js/windowEffect.js') }}"></script>
{% endblock %}
{% block body %}
    {% include 'header/index.html.twig' %}
    <section>
        <div class="global_result">
            <h1>Resultado de {{ s }}</h1>
        </div>
        <div></div>
        <div></div>
    </section>
{% endblock %}
