{% extends 'base.html.twig' %}

{% block title %}Grupos{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('/css/header.css') }}" rel="stylesheet" />
    <link href="{{ asset('/css/profile.css') }}" rel="stylesheet" />
    <link href="{{ asset('/css/group.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('/js/sweetmodal/min/jquery.sweet-modal.min.css') }}" />
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('/js/jquery.js') }}"></script>
    <script src="{{ asset('/js/FontAwesome.js') }}" crossorigin="anonymous"></script>
    <script src="{{ asset('/js/sweetmodal/min/jquery.sweet-modal.min.js') }}"></script>
    <script src="{{ asset('/js/Post.js') }}"></script>
    <script>
        function getNewGroup(){
            $.ajax({
                type: 'POST',
                url: '{{ path('newgroup') }}',
                dataType: 'json',
                success: function(response){
                    $.sweetModal({
                        title: 'Crear grupo',
                        content: response.message,
                    });
                }
            })
        }

    </script>
{% endblock %}
{% block body %}
    {% include 'header/index.html.twig'%}

    <section id="section-group">
            <div class="wrapper">
               <section class="mygroup">
                   <div>
                        <button onclick="getNewGroup()">Crear grupo</button>
                   </div>
                   <div>
                       <h1>Mis grupos.</h1>
                        <ol>
                            {% set count = 0 %}
                            {% for group in mygroups %}
                                {% set count = count + 1 %}
                            <li>
                                <a href="{{ path('viewgroup', {id: group.id}) }}">
                                    {{ group.titleGroup }}
                                </a>
                            </li>
                            {% endfor %}
                            {%  if count == 0 %}
                                <span >No cuentas con grupos</span>
                            {% endif %}
                        </ol>
                   </div>
               </section>
                <section class="groups">
                    {% for  other in othergroups %}
                    <div class="box">
                        <div class="box-img" style="background-image: url({{ asset('/groupImage/' ~ other.groupimage) }})"></div>
                        <div>
                            <h4>{{ other.creator.user }} {{ other.creator.lastM }} {{ other.creator.lastF }}</h4>
                        </div>
                        <div>
                            <h3>{{ other.titlegroup }}</h3>
                            <h5>{{ other.tematica }}</h5>
                        </div>
                        <div class="request{{ other.id }}">
                            {% set acepted = 0 %}
                            {% for accepted in other.aceptedentities %}
                                {% if accepted.userid.id == app.user.id %}
                                    {% set acepted = 1 %}
                                {% endif %}
                            {% endfor %}
                            {% if acepted == 0 %}
                                {% set counter = 0  %}
                                {% for en in other.solicitudesentities %}
                                    {% set counter = 1 %}
                                    {% if  en.userid.id != app.user.id %}
                                        <button class="sendRequest solicitudGrupo{{ other.id }}" onclick="sendSolicitud({{ other.id }})" data-url="{{ path('solicitud', {'id': other.id }) }}" ></button>
                                    {% else %}
                                        <button class="cancelRequest cancelarGrupo{{ other.id }}" onclick="cancelarSolicitud({{ other.id }})" data-url="{{ path('solicitudremove', {'id': other.id }) }}" ></button>
                                    {% endif %}
                                {% endfor %}
                                {% if counter == 0 %}
                                    <button class="sendRequest solicitudGrupo{{ other.id }}" onclick="sendSolicitud({{ other.id }})" data-url="{{ path('solicitud', {'id': other.id }) }}" ></button>
                                {% endif %}
                            {% else %}
                                <button><a href="{{ path("viewgroup" , {id: other.id }) }}">Entrar</a></button>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </section>
            </div>
    </section>
{% endblock %}
