{% extends 'base.html.twig' %}

{% block title %}Grupos{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('/css/header.css') }}" rel="stylesheet" />
    <link href="{{ asset('/css/profile.css') }}" rel="stylesheet" />
    <link href="{{ asset('/css/group.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('/js/sweetmodal/min/jquery.sweet-modal.min.css') }}" />
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('/js/jquery.js') }}"></script>
    <script src="https://kit.fontawesome.com/8bc8911105.js" crossorigin="anonymous"></script>
    <script src="{{ asset('/js/sweetmodal/min/jquery.sweet-modal.min.js') }}"></script>
    <script>
        function getNewGroup(){
            $.ajax({
                type: 'POST',
                url: '{{ path('newgroup') }}',
                dataType: 'json',
                success: function(response){
                    $.sweetModal({
                        title: 'Crear grupo',
                        content: response.message,
                    });
                }
            })
        }
        function sendSolicitud(variable){
            let tag = $(".solicitudGrupo"+variable);
            let op_prod_url = $(tag).data('url');
            $.ajax({
                type: 'POST',
                url: op_prod_url,
                dataType: 'json',
                success: function(res){
                    if(res.success == true){
                        $.sweetModal(res.msg);
                        tag.remove()
                    }

                }
            })
        }
        function cancelarSolicitud(variable){
            let tagcancel = $(".cancelarGrupo"+variable);
            let op_url = $(tagcancel).data('url');
            $.ajax({
                type: 'POST',
                url: op_url,
                dataType: 'json',
                success: function(rescancel){
                    if(rescancel.success == true){
                        $.sweetModal(rescancel.msg);
                        tagcancel.remove()
                    }

                }
            })
        }
    </script>
{% endblock %}
{% block body %}
    {% include 'header/index.html.twig'%}

    <section id="section-group">
            <div class="wrapper">
               <section class="mygroup">
                   <div>
                        <button onclick="getNewGroup()">Crear grupo</button>
                   </div>
                   <div>
                       <h1>Mis grupos.</h1>
                        <ol>
                            {% set count = 0 %}
                            {% for group in mygroups %}
                                {% set count = count + 1 %}
                            <li>
                                <a href="{{ path('viewgroup', {id: group.id}) }}">
                                    {{ group.titleGroup }}
                                </a>
                            </li>
                            {% endfor %}
                            {%  if count == 0 %}
                                <span>No cuentas con grupos</span>
                            {% endif %}
                        </ol>
                   </div>
               </section>
                <section class="groups">
                    {% for  other in othergroups %}
                    <div class="box">
                        <div class="box-img">
                            <h3>{{ other.titlegroup }}</h3>
                        </div>
                        <h4>{{ other.creator.user }} {{ other.creator.lastM }} {{ other.creator.lastF }}</h4>
                        <h5>{{ other.tematica }}</h5>
                        {% set acepted = 0 %}
                        {% for accepted in other.aceptedentities %}
                            {% if accepted.userid.id == app.user.id %}
                                {% set acepted = 1 %}
                            {% endif %}
                        {% endfor %}
                        {% if acepted == 0 %}
                            {% set counter = 0  %}
                            {% for en in other.solicitudesentities %}
                                {% set counter = 1 %}
                                {% if  en.userid.id != app.user.id %}
                                    <button class="solicitudGrupo{{ other.id }}" onclick="sendSolicitud({{ other.id }})" data-url="{{ path('solicitud', {'id': other.id }) }}" >
                                        Enviar Solicitud
                                    </button>
                                {% else %}
                                    <button class="cancelarGrupo{{ other.id }}" onclick="cancelarSolicitud({{ other.id }})" data-url="{{ path('solicitudremove', {'id': other.id }) }}" >
                                        Cancelar solicitud
                                    </button>
                                {% endif %}
                            {% endfor %}
                            {% if counter == 0 %}
                                <button class="solicitudGrupo{{ other.id }}" onclick="sendSolicitud({{ other.id }})" data-url="{{ path('solicitud', {'id': other.id }) }}" >
                                    Enviar solicitud
                                </button>
                            {% endif %}
                        {% else %}
                            <button><a href="{{ path("viewgroup" , {id: other.id }) }}">Entrar</a></button>
                        {% endif %}
                    </div>
                    {% endfor %}
                </section>
            </div>
    </section>
{% endblock %}
