{% extends 'base.html.twig' %}

{% block title %}Grupo {{ title }}{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('/css/header.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('/css/viewgroup.css') }}">
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('/js/jquery.js') }}"></script>
    <script src="{{ asset('/js/FontAwesome.js') }}" crossorigin="anonymous"></script>
    <script>
        function acceptSolicitud(variable){
            let tagadding = $(".adding"+variable);
            let op_url = $(tagadding).data('url');
            $.ajax({
                type: 'POST',
                url: op_url,
                dataType: 'json',
                success:function(respuesta){

                }
            })
        }
    </script>
{% endblock %}

{% block body %}
    {% include 'header/index.html.twig' %}
    <section>
        <div class="margin-group">
            <div class="top-group">
                <div class="group-cover">
                    {% if app.user.id == creator.id %}
                        <div onclick="" class="group-img-cover" style="background-image: url({{ asset('groupImage/' ~ image) }})"></div>
                    {% else %}
                        <div  class="group-img-cover" style="background-image: url({{ asset('groupImage/' ~ image) }})"></div>
                    {% endif %}
                    <div class="group-detail-section">
                        <nav>
                            <li>
                                Grupo: {{ title }}
                            </li>
                            <li>
                                Tematica: {{ tematica }}
                            </li>
                            <li>
                                Encargado:<a href="{{ path('profile' , {id: creator.id}) }}">{{ creator.user }} {{ creator.lastM }} {{ creator.lastF }}</a>
                            </li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            {% if app.user.id == creator.id %}
                                <li onclick="configSection()">Config</li>
                            {% endif %}
                        </nav>
                    </div>
                </div>
            </div>
            <div class="down-group">
                <div>
                    <div class="member-list">
                        <div>Miembros del grupo</div>
                        <div>
                            {% if aceptados.count != 0 %}
                                {% for user in aceptados %}
                                    <div class="user-member-container" style="background-image: url({{ asset('userProfiles/' ~ user.userid.image) }})"></div>
                                {% endfor %}
                            {% else %}
                                <div style="text-align: center;color:gray">No hay miembros aun</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="solicitudes-list">
                        <div>Solicitudes</div>
                        <div>
                            {% if solicitudes.count != 0 %}
                                {% for entran in solicitudes %}

                                <div class="solicitud-container">
                                    <div class="left-solicitud-container">
                                        <div class="photo-side-user" style="background-image:url({{ asset('userProfiles/' ~ entran.userid.image) }})"></div>
                                        <div class="name-side-user">
                                            {{ entran.userid.user }} {{ entran.userid.lastM }} {{ entran.userid.lastF }} ha solicitado unirse
                                        </div>
                                    </div>
                                    <div class="right-solicitud-container">
                                        <button class="adding{{ entran.id }}" onclick="acceptSolicitud({{ entran.id }})" data-url="{{ path('solicitudaccepted', {'idgroup': entran.groupid.id , 'iduser' : entran.userid.id}) }}">Aceptar</button>
                                    </div>
                                </div>
                                {% endfor %}
                            {% else %}
                                <div  style="text-align: center;color:gray">No hay solicitudes</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div>
                    <div class="homeworks-section">
                            <div class="container-post" style="min-height: 50px">
                                {{ form_start(form, {'attr': {'id': 'homework-register'}}) }}
                                <div class="row-post">
                                </div>
                                <div class="row-post">
                                    <div class="col-post-left"> </div>
                                    <div class="col-post-right" id="some-custom-id"></div>
                                </div>
                                {{ form_end(form) }}
                            </div>
                    </div>
                    <div class=""></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}