{% for post in p %}
    <div class="container-post">
        <div class="container-post-upper">
            <div class="upper-post-left">
                <div class="photo-post-user" >
                    <div class="photo-p-user" style="background-image: url({{ asset('userProfiles/' ~  post.userPost.image) }})"></div>
                </div>
                <div class="name-post-user">
                    <p> <a href="{{ path('userprofile' ,{'id' :  post.userPost.id}) }}">{{ post.userPost.user }} {{ post.userPost.lastM }} {{ post.userPost.lastF }} </a> </p>
                    <p>19 horas antes</p>
                </div>
            </div>
            <div class="upper-post-right">
                <img src="{{ asset('img/menu.png') }}" height="20" alt="">
            </div>
        </div>
        <div class="container-post-middle">
            <p>{{ post.contentPost }}</p>
        </div>
        <div class="container-post-bottom">
            <div class="heart-bottom-">
                <div class="heart-base-container">
                    <img src="{{ asset('img/corazon.png') }}" height="20" alt="">
                </div>
            </div>
            <div class="user-heart-bottom">
                <div>
                    <div class="heart-user-like userLike1" style="background-image:url('{{ asset('userProfiles/user1.jpg') }}')"></div>
                    <div class="heart-user-like userLike2" style="background-image:url('{{ asset('userProfiles/user2.jpg') }}')"></div>
                    <div class="heart-user-like userLike3" style="background-image:url('{{ asset('userProfiles/user3.jpg') }}')"></div>
                    <div class="heart-user-like userLike4" style="background-image:url('{{ asset('userProfiles/user4.jpg') }}')"></div>
                    <div class="heart-user-like userLike5" style="background-image:url('{{ asset('userProfiles/user5.jpg') }}')"></div>
                </div>
            </div>
            <div class="comment-bottom">
                <img src="{{ asset('img/comentario.png') }}" height="20" alt="">
            </div>
        </div>
    </div>
{% endfor %}